@import '../../style/variables.scss';

.carouselContainer { 
    height: 500px;
    position: relative;
    overflow: hidden;

    .slide {
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0;
        transition: opacity ease-in-out 0.4s;
    }

    .activeAnimate {
        opacity: 1;
    }  

    .containerText {
        position: absolute;
        padding: 20px;
        
        h1 {
            color: $color-white;
            font-weight: 800;
            font-size: 28px;
        }
        
        h4 {
            color: $color-white;
            margin-top: 40px;
            font-weight: 400;
        }

        p {
            color: $color-white;
        }

        .containerBtn {
            position: absolute;
            top: 380px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .containerDots {   
        position: absolute;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;

        .dot {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            border: 3px solid $color-dots;
            margin: 0 10px;
            background-color: $color-dots;
        }

        .dotActive {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            border: 3px solid #f1f1f1;
            margin: 0 10px;
            background-color: $color-gray-opacity-2;
            transition: 1.2s;
        }
    }   
}

// MEDIA QUERIES
@media only screen and (min-width: 880px) and (max-width: 1023px) {
    .carouselContainer { 
        width: 100%;
        
        .slide {
            width: 100%;

            img {
                width: 100%;
            }
        }
    }
}

@media only screen and (min-width: 1024px) {
    .carouselContainer { 
        width: 70%;
        float: left;

        .containerText {
            padding: 50px;

            h1 {
                font-size: 40px;  
            }
    
            h4 {
                width: 80%;
            }
    
            p {
                display: none;
            }
        }
    }
}

@media only screen and (min-width: 1280px) {
    .carouselContainer { 
        width: 70%;
        
        .slide {
            width: 100%;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .containerText {
            h1 {
                font-size: 53px;
                width: 700px;
            }

            h4 {
                font-size: 20px;
                width: 500px;
            }

            .containerBtn {
                top: 300px;
                left: 0;
                transform: translateX(30%);
            }
        }
    }
}

