@import '../../style/variables.scss';

@mixin link {
    color: $color-green;
    font-weight: 600;
    font-size: 13px;
    text-decoration: none;
}

@mixin input {
    border-radius: 20px;
    border: 3px solid $color-gray-opacity-3;
    outline-color: $color-gray-opacity-3;
    padding: 10px;
    color: $color-gray;
    font-weight: 600;
    width: 80%;
}

.profileContainer {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(37, 37, 37, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;

    .profileContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background-color: $color-white;
        width: 500px;
        height: 500px;
        border-radius: 8px;
        color: $color-gray;
        padding: 15px;

        h1 {
            font-weight: 800;
        }

        form {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            label {
                font-weight: 600; 
                width: 80%;
                display: flex;
                justify-content: space-between;
                margin: 10px 0;
            }

            :nth-child(2) {
                margin-bottom: 10px;
            } 
            
            div {
                width: 110%;
                display: flex;
                justify-content: center;

                input {
                    @include input;                
                }
           
                .icon {
                    position: relative;
                    width: 10%;
                    right: 10%;
                    top: 10%;
                    cursor: pointer;
                }
            } 
            
            .passDiv {
                margin-left: 50px;
                
            }

            p {
                color: rgb(245, 55, 55);
                width: 80%;
                font-size: 13px;
            }
            
            button {
                @include button;
                width: 180px;
                padding: 12px; 
                margin-top: 40px;
            }
        }
           
        a {
            @include link;
            text-align: center;           
         }
    } 
}

// MEDIA QUERIES
@media only screen and (max-width: 580px) {
   .profileContainer {
        .profileContent {
            width: 300px;
            height: 400px;

            form {
                div {
                    .icon {
                        width: 40px;
                        right: 15%;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 360px) {
    .profileContainer {
        .profileContent {
            width: 270px;
        }
    }
 }
