@import '../../style/variables.scss';

@mixin content {
    width: 100%; 
    border-radius: 3px;
}

.categoryContainer {
    @include container;

    ul {
        @include ul;
        width: 200px;
        
        a {
            @include a;
            &:hover {
                color: $color-gray;
            }
        }
    }

    h1 {
        font-weight: 800;
        margin: 20px 0;
    }

    .categoryFilters {
        @include content;
        background-color: $color-white;
        
        form {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 20px;

            label {
               font-weight: 600;
            }
            
            select {
                @include select;
            }

            .dots {
                @include dots;

                .dot {
                    @include dot;
                    margin: 0 5px;
                    background-color: transparent;
                    border-color: transparent;
                }
            }
        }
    }
    
    h4 {
        margin-top: 20px;
    }

    .categoryCards {
        height: auto;
        width: 100%;
        gap: 30px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, auto));
        justify-content: space-evenly;
        margin-top: 20px;

        .card {
            @include card;

            .cardImage {
                @include cardImage;

                img {
                    @include cardImg;
                }
            }

            .cardText {
                @include cardText;         

                h3 {
                    @include cardH3;
                }
                
                h4 {
                    color: $color-gray-opacity-2;
                    font-size: 14px;
                }
            }
        }
    }

    .loadMoreButton {
        @include button;
        padding: 10px;
        margin: 30px 0;
    }

    .featuredContainerCategory {
        display: none;
    }
}

// MEDIA QUERIES
@media only screen and (min-width: 768px) {
    .categoryContainer {
        .categoryFilters {
            column-count: 2;
        }
    }

    .loadMoreButton {
        position: relative;
        top: 30px;
    }
}

@media only screen and (min-width: 1024px) {
    .categoryContainer {
        width: 85%;
        margin: 0 auto;

        ul {
            margin-top: 60px;
        }

        h1 {
            font-size: 50px;
            margin-top: 0px;
        }

        .categoryFilters {
            form {
                justify-content: space-around;
            }
        }

        .categoryCards {
            justify-content: space-between;
        }

        .featuredContainerCategory {
            @include featuredContainer;
            width: 113%;
            height: 100%;
            position: relative; 
            top: 70px;
            
            h1 {
               @include featuredH1; 
            }

            .featuredIcons {
                @include featuredIcons;

                button {
                    @include featuredButton;
                }

                .line {
                    @include featuredLine;
                }
            }

            .featuredCards {
                @include featuredCards;

                .card {
                    @include card;
                    width: 260px;
                    flex: none;

                    .cardImage {
                        @include cardImage;
                        height: 180px;
                      
                        img {
                            @include cardImg;
                        }
                    }

                    .cardText {
                        @include cardText;
                        height: 120px;
                        justify-content: space-between;
                        padding: 10px 0;

                        h3 {
                            @include cardH3;
                        }
            
                        h4 {
                            color: $color-green;
                        }
                    }
                }  
            }  
        }
    }
}

@media only screen and (min-width: 1280px) {
    .categoryContainer {
        .categoryFilters {
            column-count: 3;
        }
    }
}
