.home {
   z-index: 1;

   .slideHome {
      padding: 10px;
   }
}

// MEDIA QUERIES
@media only screen and (min-width: 1024px) {
   .home {
      width: 85%;
      height: 100%;
      margin: 0 auto;
      margin-top: 80px;

      .slideHome {
         height: 500px;
         padding: 20px;
      }
   }
}

