.home {
   z-index: 1;
}

// MEDIA QUERIES
@media only screen and (min-width: 1024px) {
   .home {
      width: 80%;
      margin: 0 auto;
      margin-top: 100px;

      .slideHome {
         height: 500px;
      }
   }
}

