.menu.active {
    opacity: 1;
    visibility: visible;

    background-color: red;
}

.menu {
    height: 0;
    width: 0;
    opacity: 0;
}

#menuDropdown {
    background-color: red;
    color: blue;
}

.productCategories {background-color: red;
    color: blue;
    
}
