@import '../../style/variables.scss';

.dropdown-menu {
    display: none;
}
.dropdown-products-off {
    display: none;
}
.dropdown-sales-off {
    display: none;
}
.dropdown-image-off {
    display: none;
}

.menu-dropdown { 
        .menu {
            .dropdown-products,
            .dropdown-sales {
                display: flex;
                flex-direction: column;

                .dropdown-title {
                    font-size: 15px;
                    font-weight: 600;
                    margin-top: 10px; 
                    width: 100%;      
                    color: $color-white;  
                              
                    img {
                        margin-left: 10px;
                    }
                }

                .dropdown-on {
                    width: 100%;
                    list-style-type: none;

                    a {
                        color: $color-white;
                        text-decoration: none;
                        cursor: pointer;
                        width: 100%;

                        li {
                            list-style: none;
                            line-height: 1.8;
                            font-size: 15px;
                            
                        }
                    }   
                }
            }
            
            .dropdown-image {
                padding: 10px 0;

                img {
                    width: 100%;
                    border-radius: 5%;
                }
            }
        }  
}

// MEDIA QUERIES
@media only screen and (min-width: 765px) {
    .menu-dropdown {
        .menu {
            .dropdown-image {
                img {
                    width: 280px;       
                }
            }
        }
    }
}

@media only screen and (min-width: 1024px) {
    .menu-dropdown {
        .menu {
            background-color: $color-blue;
            position: absolute;
            margin-top: 100px;
            justify-content: space-between;
            top: -30px;
            width: 80%;
            left: 10%;
            display: flex; 
            z-index: 2;      

            .dropdown-products {
                width: 50%; 
            }
                
            .dropdown-on {
                :first-child {                    
                    column-count: 3  
                }   
            }
        }

        .dropdown-sales {
            width: 17%;

            .dropdown-on {
                :first-child {                    
                    column-count: 1      
                }  
            }
        
        }

        .dropdown-image {
            width: 33%;

            img {
                width: 250px;
            }
        }
    }
}


@media only screen and (min-width: 1280px) { 
    .menu-dropdown { 
        .menu {
            padding: 20px;

            .dropdown-products,
            .dropdown-sales {
                .dropdown-on {
                    padding-top: 20px;
                }
            }

            .dropdown-image {
                display: flex;
                justify-content: center;

                img {
                    width: 280px;
                }
            }
        }
    }
}

@media only screen and (min-width: 1440px) {
    .menu-dropdown {
        .menu {
            .dropdown-products {
                width: 55%;
            }
        
            .dropdown-sales {
                width: 20%;
            }
        
            .dropdown-image {      
                .dropdown-image {
                    width: 25%;
                }
            }
        }
    }
    
}

