@import '../../style/variables.scss';

.featuredContainer {
   @include featuredContainer;

    h1 {
        @include featuredH1;
    }

    .featuredIcons {
        @include featuredIcons;

        button {
            @include featuredButton;
        }

        .line {
           @include featuredLine
        }
    }

    .featuredCards {
        @include featuredCards;

        .card {
            @include card;
            width: 270px;
            flex: none;

            .cardImage {
                @include cardImage;
                height: 200px;
                  
                img {
                    @include cardImg;
                }
            }

            .cardText {
                @include cardText;
                height: 90px;
    
                h3 {
                    @include cardH3
                }
    
                h4 {
                    color: $color-green;
                }
            }
        }  
    }  
}

//MEDIA QUERIES
@media only screen and (max-width: 768px) {
    .featuredContainer {
        display: none;
    }
}