@import '../../style/variables.scss';

.featuredContainer {
    background-color: $color-blue;
    color: $color-white;
    height: 550px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-size: 40px;
        line-height: 2;
    }

    .featuredIcons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        padding: 30px;

        button {
            border: none;
            height: 30px;
            background-color: transparent;
            cursor: pointer;
        }

        .line {
            width: 250px;
            height: 2px;
        }
    }

    .featuredCards {
        display: flex;
        gap: 20px;
        width: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
        scroll-behavior: smooth; 

        .card {
            @include card;
            width: 270px;
            flex: none;

            .cardImage {
                @include cardImage;
                height: 200px;
                  
                img {
                    @include cardImg;
                }
            }

            .cardText {
                @include cardText;
                height: 90px;
    
                h3 {
                    @include cardH3
                }
    
                h4 {
                    color: $color-green;
                }
            }
        }  
    }
    
}

//MEDIA QUERIES
@media only screen and (max-width: 768px) {
    .featuredContainer {
        display: none;
    }
}