$color-green: #84bc22;
$color-white: #ffffff;
$color-blue: #262a32;
$color-gray: rgb(69, 65, 62);
$color-gray-opacity: rgba(54, 51, 50, 0.1);
$color-gray-opacity-2: rgba(69, 65, 62, 0.7);
$color-gray-opacity-3: rgba(54, 51, 50, 0.2);
$color-gray-background: #F1EDEA;
$color-dots: #cbcbcb;
$color-light-blue: #3A5A95;