@import '../../style/variables.scss';

.bannerContainer {
    width: 100%;
    height: 160px;
    text-align: center;

    img {
        width: 100%;
        height: 100%;
    }

    .bannerText {
        position: relative;
        bottom: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;      
        
        h1 {
            font-size: 30px;
            color: $color-white;
        }

        h3 {
            font-size: 14px;
            color: $color-white;
            width: 80%;
            margin-top: 10px;
        }
    }
}

// MEDIA QUERIES
@media only screen and (min-width: 768px) {
    .bannerContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 280px;

        img {
            width: 100%;
            height: 100%;
        }
        
        .bannerText {
            bottom: 150px;
        }
    }
}

@media only screen and (min-width: 1280px) {
    .bannerContainer {
        .bannerText {
            h1 {
                font-size: 53px;
                font-weight: 800;
            }
        }
    }
}

@media only screen and (min-width: 1400px) {
    .bannerContainer {
        height: 400px;

        .bannerText {
            bottom: 250px;
        }
    }
}