@import '../../style/variables.scss';

.popularContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $color-white; 
    background: $color-blue;
    padding: 20px;

    .popularText {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: 100%;

        h1 {
            font-size: 18px;
            line-height: 2;
        }

        .line {
            width: 25%;
            height: 1.6px;
        }
    }

    .popularCards {
        height: 300px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 60px;

        .slide {
            position: absolute;
            opacity: 0;
            transition: opacity ease-in-out 0.4s;
        }

        .activeAnimate {
            opacity: 1;
        }  

        .card {
            @include card;
            margin-bottom: 30px;

            .cardImage {
                @include cardImage;
                  
                img {
                    @include cardImg;
                }

                .overlay {
                    background-image: linear-gradient(to top, rgba(28, 193, 103, 0.8), rgba(46, 211, 162, 0.8));
                    opacity: 0.6;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 0;
                    border-radius: 10px;
                    transition: 1s;

                    div {
                        padding: 25px;
                        background-color: $color-white;
                        border-radius: 50%;
                        margin: 0 10px;
                        cursor: pointer;

                        display: flex;
                        align-items: center;
                        justify-content: center;

                        img {
                            width: 35px;
                        }
                    }

                    &:hover {
                        opacity: 1;
                    }
                }          
            }

            .cardText {
                @include cardText;
    
                h3 {
                    @include cardH3;
                }
    
                h4 {
                    color: $color-light-blue;
                }
            }
        }  
    }

    .popularDots {   
        display: flex;
        justify-content: flex-start;
        margin-top: 30px;
        width: 55%;
        overflow-x: hidden;

        .dot {
            @include dot;
            flex: none;
        }

        .dotActive {
            @include dotActive;
            flex: none;
        }
    }  
    
    .loadButton {
        display: none;
    }
}

// MEDIA QUERIES
@media only screen and (min-width: 768px) {
    .popularContainer {
        .popularDots {
            justify-content: center;
        }
    }
}

@media only screen and (min-width: 1024px) {
    .popularContainer {
        margin-top: 40px;

        .popularText {
            margin-top: 40px;
            width: 100%;

            h1 {
                font-size: 30px;
            }

            .line {
                width: 38%;
            }
        }

        .popularCards {
            height: auto;
            width: 100%;
            gap: 30px;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, auto));
            margin-top: 30px;

            .slide {
                position: relative;
                opacity: 1;
            }
        }

        .popularDots {
            display: none;
        }

        .loadButton {
            @include button;
            width: 250px;
            border: 1px solid $color-white;
            background-color: transparent;  
            gap: 15px;
           
            .arrow {
                transform: rotate(280deg);
            }
        }
    }
}

@media only screen and (min-width: 1400px) {
    .popularContainer {
        .popularText {
            .line {
                width: 40%;
            }
        }
    }
}